/*
 * <Reset
 *  src="{
 *    name: modern-normalize,
 *    version: v3.0.1,
 *    License: MIT License,
 *    url: https://github.com/sindresorhus/modern-normalize/
 *  }
 * >
*/

/* Document */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-normal);
  line-height: 1.15;
  tab-size: 4;
}

/* Sections */
body {
  margin: 0;
}

/* Typography */
b,
strong {
  font-weight: 800;
}

code,
kbd,
samp,
pre {
  font-size: 1rem;
  font-family: var(--font-mono);
}

small {
  font-size: 80%;
}

/* Subscript/Superscript */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

/* Tables */
table {
  border-color: currentcolor;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
}

/* iOS/Safari Compatibility */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: auto;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  appearance: textfield;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: auto;
}

/* Interactive Elements */
summary {
  display: list-item;
}

/*
  * </Reset>
 */
