/*
 * ==============================================================
 * Variables
 * ==============================================================
*/

:root {
  /* Colors */
  --bg: #f0f0f6; /* Background color for light mode */
  --fg: #17171f; /* Foreground color for light mode */
  --primary: #009be5; /* Primary color for buttons and links */
  --primary-hover: #0085d4; /* Hover state for primary color */

  /* Typography */
  --font-normal: system-ui, sans-serif; /* Default font for normal text */
  --font-heading: "Gill Sans", sans-serif; /* Font for headings */
  --font-mono: ui-monospace, monospace; /* Monospace font for code */

  /* Spacing */
  --space-xs: 4px; /* Extra small spacing */
  --space-sm: 8px; /* Small spacing */
  --space-md: 16px; /* Medium spacing */
  --space-lg: 32px; /* Large spacing */
}
.dark {
  --bg: #121212; /* Background color for dark mode */
  --fg: #e0e0e0; /* Foreground color for dark mode */
  --primary: #009be5; /* Primary color for buttons and links in dark mode */
  --primary-hover: #2cbfff; /* Hover state for primary color in dark mode */
}
