/*
 * <Variables>
*/

:root {
  /* Colors */
  --theme: #385cfa; /* Universal theme color */
  --bg: #f0f0f6; /* Background color for light mode */
  --fg: #17171f; /* Foreground color for light mode */

  /* Typography */
  --font-normal: system-ui, sans-serif; /* Default font for normal text elements */
  --font-heading: "Gill Sans", sans-serif; /* Default font for heading elements */
  --font-mono: ui-monospace, monospace; /* Default font for mono/code elements */

  /* Spacing */
  --space-xs: 4px; /* Extra small spacing for tight layouts */
  --space-sm: 8px; /* Small spacing for compact layouts */
  --space-md: 16px; /* Medium spacing for regular gaps */
  --space-lg: 32px; /* Large spacing for wide gaps */
}

.dark {
  --bg: #131417; /* Background color for dark mode */
  --fg: #e0e0e0; /* Foreground color for dark mode */
}

/* 
 * </Variables>
*/
