/*
 * <Typography>
*/

/* General text styles */
body,
p,
div,
span,
label,
input,
textarea,
button,
a,
.text,
.btn,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading,
.sub-heading,
code,
abbr,
samp,
kbd,
var {
  color: var(--fg); /* Set text color using the foreground variable */
}

/* Base font styles for general elements */
body,
p,
div,
span,
label,
input,
textarea,
button,
a,
.text,
.btn {
  font-family: var(--font-normal); /* Use the normal font variable */
  font-size: var(
    --font-size,
    18px
  ); /* get font size from variable or default to 18px */
  margin: var(--text-margin, 4px);
}

/* Paragraph-specific styles */
p {
  margin-bottom: var(--text-margin, 4px); /* Bottom margin for paragraphs */
}

/* Heading styles */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading,
.sub-heading {
  font-family: var(--font-heading); /* Use the heading font variable */
  font-weight: var(
    --heading-weight,
    700
  ); /* get font weight from variable or default to bold */
  line-height: 1.25; /* Set line height for readability */
  margin-bottom: var(--heading-margin, 10px); /* Bottom margin for spacing */
}

/* Responsive font size for h1 */
h1,
.h1,
.heading {
  font-size: clamp(1.5rem, 1.5rem + 1.5vw, 3rem); /* Dynamically adjust size */
}

/* Responsive font size for h2 */
h2,
.h2,
.sub-heading {
  font-size: clamp(
    1.25rem,
    1.25rem + 1.2vw,
    2.75rem
  ); /* Dynamically adjust size */
}

/* Responsive font size for h3 */
h3,
.h3 {
  font-size: clamp(1rem, 1rem + 0.9vw, 2.5rem); /* Dynamically adjust size */
}

/* Responsive font size for h4 */
h4,
.h4 {
  font-size: clamp(
    0.75rem,
    0.75rem + 0.9vw,
    2.25rem
  ); /* Dynamically adjust size */
}

/* Responsive font size for h4 */
h5,
.h5 {
  font-size: clamp(
    0.75rem,
    0.75rem + 0.6vw,
    2rem
  ); /* Dynamically adjust size */
}

/* Responsive font size for h4 */
h6,
.h6 {
  font-size: clamp(
    0.75rem,
    0.75rem + 0.6vw,
    2rem
  ); /* Dynamically adjust size */
}

/* Title-specific styles */
.title {
  font-size: calc(1.5rem + 2vw); /* Dynamically adjust size */
  font-weight: 800; /* Extra bold for emphasis */
  line-height: 1.2; /* Improve readability */
  margin: var(--title-margin, 12px 0); /* Add spacing */
}

/* Code and similar elements styles */
code,
abbr,
samp,
kbd,
var {
  font-family: var(--font-mono); /* Use monospaced font for code elements */
  padding: 2px 5px; /* Add padding for better appearance */
}

/*
 * </Typography>
*/
