/*
 * <Typography>
*/

/* General text styles */
body,
p,
div,
span,
label,
input,
textarea,
button,
a,
.text,
.btn,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading,
.sub-heading,
code,
abbr,
samp,
kbd,
var {
  color: var(--fg); /* Set text color using the foreground variable */
}

/* Base font styles for general elements */
body,
p,
div,
span,
label,
input,
textarea,
button,
a,
.text,
.btn {
  font-family: var(--font-normal); /* Use the normal font variable */
  font-size: inherit, 18px; /* Inherit font size from parent or default to 16px */
  margin: inherit; /* Inherit margin from parent */
}

/* Paragraph-specific styles */
p {
  margin-bottom: inherit, 4px; /* Bottom margin for paragraphs */
}

/* Heading styles */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading,
.sub-heading {
  font-family: var(--font-heading); /* Use the heading font variable */
  font-weight: inherit, 700; /* Inherit font weight or default to bold */
  line-height: 1.25; /* Set line height for readability */
  margin-bottom: inherit, 10px; /* Bottom margin for spacing */
}

/* Responsive font size for h1 */
h1,
.h1,
.heading {
  font-size: calc(1.425rem + 1.5vw); /* Dynamically adjust size */
}

/* Specific font size for h1 on large screens */
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.75rem; /* Set a larger size for h1 */
  }
}

/* Responsive font size for h2 */
h2,
.h2,
.sub-heading {
  font-size: calc(1.375rem + 0.9vw); /* Dynamically adjust size */
}

/* Specific font size for h2 on large screens */
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2.25rem; /* Set a larger size for h2 */
  }
}

/* Responsive font size for h3 */
h3,
.h3 {
  font-size: calc(1.325rem + 0.6vw); /* Dynamically adjust size */
}

/* Specific font size for h3 on large screens */
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem; /* Set a larger size for h3 */
  }
}

/* Responsive font size for h4 */
h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw); /* Dynamically adjust size */
}

/* Specific font size for h4 on large screens */
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem; /* Set a larger size for h4 */
  }
}

/* Font size for h5 */
h5,
.h5 {
  font-size: 1.25rem; /* Fixed size for h5 */
}

/* Font size for h6 */
h6,
.h6 {
  font-size: 1rem; /* Fixed size for h6 */
}

/* Title-specific styles */
.title {
  font-size: calc(1.425rem + 2.1vw); /* Dynamically adjust size */
  font-weight: 800; /* Extra bold for emphasis */
  line-height: 1.2; /* Improve readability */
  margin:
    inherit,
    8px 0; /* Add spacing */
}

/* Code and similar elements styles */
code,
abbr,
samp,
kbd,
var {
  font-family: var(--font-mono); /* Use monospaced font for code elements */
  padding: 2px 5px; /* Add padding for better appearance */
}

/*
 * </Typography>
*/
