/*
 * <Utilities>
*/

/* Body styling */
.container {
  width: clamp(180px, 95vw, 1440px);
  margin-inline: auto;
  padding-inline: 2rem;
}

/* size full */
.sf {
  margin: 0;
  min-width: 100%;
  max-height: 100%;
  padding: var(--space-sm);
  overflow-x: hidden;
}

/* Centering Utilities */
.center {
  display: grid;
  place-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Padding and Margin Utilities */
.p-1 {
  padding: var(--space-xs);
}

.p-2 {
  padding: var(--space-sm);
}

.p-3 {
  padding: var(--space-md);
}

.p-4 {
  padding: var(--space-lg);
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: unset auto;
}

.my-auto {
  margin: auto unset;
}

.m-1 {
  margin: var(--space-xs);
}

.m-2 {
  margin: var(--space-sm);
}

.m-3 {
  margin: var(--space-md);
}

.m-4 {
  margin: var(--space-lg);
}

/*
 * </Utilities>
*/
