/*
 * <Utilities>
*/

/* Body styling */
body {
  background: var(
    --bg
  ); /* Set the background color using the custom variable */
  color: var(--fg); /* Set the text color using the custom variable */
}

/* Full viewport container styling */
.bgc {
  background: var(
    --bg
  ); /* Set the background color using the custom variable */
  color: var(--fg); /* Set the text color using the custom variable */
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  max-width: 100vw; /* Prevent the container from exceeding the full viewport width */
  overflow-x: hidden; /* Hide any horizontal overflow to avoid scrollbars */
}
/* size full */
.sf {
  min-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: inherit;
}

/* Center content using grid layout */
.center {
  display: grid; /* Enable grid layout */
  place-items: center; /* Center items both horizontally and vertically */
}

/* Center content in a column using flexbox */
.center-col {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Align items horizontally at the center */
  align-items: center; /* Align items vertically at the center */
  flex-direction: column; /* Stack child elements in a column */
}

/*
 * </Utilities>
*/
