/*
 * <Scroll>
*/

/* Set scrollbar width and height */
html,
.sc::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Style the scrollbar track (background area) */
html,
.sc::-webkit-scrollbar-track {
  background-color: var(--sc-bg);
  border-radius: 8px;
}

/* Style the scrollbar thumb (draggable part) */
html,
.sc::-webkit-scrollbar-thumb {
  background-color: var(--sc-fg);
  border-radius: 6px;
}

/* Hover effect on scrollbar thumb for better interaction */
html,
.sc::-webkit-scrollbar-thumb:hover {
  background-color: var(--sc-hover-fg);
}

/* Style the corner where horizontal and vertical scrollbars meet */
html,
.sc::-webkit-scrollbar-corner {
  background-color: var(--sc-fg);
}

/* Use thin scrollbar and custom colors */
html,
.sc {
  --sc-bg: #f3f4f6;
  --sc-fg: #d1d5db;
  --sc-hover-fg: #6b7280;
  scrollbar-width: thin;
  scrollbar-color: var(--sc-fg) var(--sc-bg);
}

/* Dark Mode */
html .dark,
.dark .sc {
  --sc-bg: #111827;
  --sc-fg: #374151;
  --sc-hover-fg: #4b5563;
}

/*
 * </Scroll>
*/
