:root {
  --color-bg: #f4f4f5;
  --color-text: #18181b;
  --color-code: #d6d3d1;

  --color-accent: #195bff;
  --color-accent-hover: #003cff;
  --color-success: #19ff4a;
  --color-warning: #ffbd19;
  --color-danger: #ff195b;

  --font-normal: "Segoe UI", "Roboto", system-ui, -apple-system, "Arial", sans-serif;
  --font-heading: "Rubik", "Inter", "Roboto", "Segoe UI", sans-serif;
  --font-mono: "Consolas", ui-monospace, Courier, monospace;

  --spacing: 0.25rem;
  --space-xs: calc(var(--spacing) * 1);
  --space-sm: calc(var(--spacing) * 1.5);
  --space-md: calc(var(--spacing) * 2);
  --space-lg: calc(var(--spacing) * 3);
  --radius: 0.375rem;

  --transition-fast: 0.12s;
  --transition-ease: ease-in-out;
  font-family: var(--font-normal);

  transition:
    background-color var(--transition-fast) var(--transition-ease),
    color var(--transition-fast) var(--transition-ease),
    border-color var(--transition-fast) var(--transition-ease);
}

.dark {
  --color-bg: #18181b;
  --color-text: #f4f4f5;
  --color-code: #44403b;
}

.dark :is(img, video) {
  opacity: 0.925;
}

body {
  overflow-x: hidden;
  color: var(--color-text);
  font-family: var(--font-normal);
  background-color: var(--color-bg);
  max-inline-size: 100vw;
  min-block-size: 100vh;
}

:focus-visible {
  outline: 1.25px solid var(--btn-bg, var(--color-accent));
  outline-offset: 1.5px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
